.component-navbar {
  .navbar {
    display: flex;
    align-items: center;
    padding: 10px 20px;
    background-color: #333;
    position: relative;
    .logo {
      color: white;
      margin-right: auto;
    }
   

    .menu-icon {
      font-size: 24px;
      color: #fff;
      cursor: pointer;
      position: absolute;
      right: 15px;

    }

    .nav-links {
      display: none;
      flex-direction: column;
      list-style-type: none;
      margin: 0;
      padding: 0;
      background-color: #333;
      color: #fff;
      position: absolute;
      top: 100%;
      left: 0;
      right: 0;
      text-align: center;
      li {
        margin: 0;
        padding: 10px 0;
      }

      a {
        color: #fff;
        text-decoration: none;
      }

      &.active {
        display: flex;
      }
    }

    hr {
      border: none;
      border-top: 1px solid #fff;
      margin: 10px 0;
    }

    p {
      margin: 0;
      color: #fff;
      text-align: center;

      a {
        color: #fff;
        text-decoration: none;
      }
    }
  }
}
