
    $color50: rgb(246,245,253);
    $color100: #eeecfb;
    $color200: #dfdbf9;
     $color300: #c7bef4;
     $color400: #ab99ec;
     $color500: #977be5;
     $color600: rgb(124,80,215);
     $color700: #6d3ec3;
     $color800: #5a34a3;
     $color900: rgb(75,44,134);
     $color950: rgb(46,27,90);

